h1 h2 {
   font-size: x-large;
   font-weight: bold;
   text-align: center;
}

body {
    background-color: chartreuse;
    text-align: center;
}

section {
    width: 700px;
    margin: auto;
    border: 5px solid red;
}
img {
    width: 200px;
    
}